.banner {
  color: white;
  background: green;
  margin-top: 50px;
  padding: 200px 0;
  width: 100%;
}

div {
  font-size: 30px;
  margin: 10px 0;
}

.title {
  text-align: center;
}

.add-button {
  margin-top: 30px;
}

.full-width-button {
  padding: 20px 0;
}

.passagers-list {
  margin: 20px 5px;
  padding: 10px;
  border: #666666 solid 1px;
  border-radius: 3px;
}
